
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.75%; /* 16x10/100 =  */
    margin: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
}

colors{   
    color: hsl(322, 100%, 66%);
    color: hsl(321, 100%, 78%);
    color: hsl(0, 100%, 63%);
    color: hsl(192, 100%, 9%);
    color: hsl(207, 100%, 98%);
}

h1,
h2,
h3,
h4{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

p,
a{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
}

.hero-section{
    width: 100%;
    padding: 0 0 6rem 0;
}

.header{
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-title{
    margin-left: .5rem;
    font-size: 2.5rem;
}

.logo{
    height: 2rem;
}

.tryit-btn{
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2.2rem;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    color: hsl(321, 100%, 78%, .7);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 1px 2px rgb(0, 0, 0, .3);
    text-shadow: 0 1px 1.2px hsl(321, 100%, 78%, .7);
    transition: transform .2s linear;
    border: 2px solid hsl(321, 100%, 78%, .7);
}

.tryit-btn:hover{
    text-shadow: none;
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgb(0, 0, 0, .3);
}

/*******ARTICLES SECTION*********/
.about-page{
    width: 85%;
    margin: 0 auto 4rem;
    text-align: center;
}

.page-info-title{ 
    font-size: 2.2rem;
    padding: 2rem 1.5rem 0;
    color: hsl(192, 100%, 9%);
    text-shadow: 0 1px 1.5px hsl(192, 100%, 9%, .5);
}

.page-info{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 2.5rem 0 4rem;
    padding: 0 .5rem;
    color: hsl(192, 100%, 9%, .5);
    text-shadow: 0 1px 1.5px hsl(192, 100%, 9%, .5);
}

.getstarted-btn{
    text-decoration: none;
    padding: 1.2rem 3.5rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 500;
    cursor: pointer;
    font-weight: 600;
    color: hsl(193, 100%, 96%, .9);
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 .3rem .5rem rgb(0, 0, 0,.5);
}

.getstarted-btn:hover{
    color: hsl(0, 0%, 100%);
    transition: .2s ease-in;
    background-color: hsl(300, 69%, 71%);
}

.hero-image-div{
    width: 85%;
    height: 25rem;
    margin: 0 auto;
}

.hero-image{
    width: 100%;
    height: 100%;
    margin-top: 3rem;
}

/*********Rating-Section*********/
.rating-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.rate-number{
    font-size: 4.5rem;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    text-shadow: 0 1.5px 2px hsl(192, 100%, 9%, .5);
}

.rate-name{
    text-align: center;
    line-height: 2;
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(208, 11%, 55%, .7);
    text-shadow: 0 .5px .5px hsl(208, 11%, 55%, .5);
}

.rate-2{
    margin: 5rem 0;
}

.rate-1-img,
.rate-2-img{
    width: 3rem;
    height: 2.5rem;
}

/*********Article-Section*********/
.article-section{
    margin-bottom: 3rem;
}

.article{
    padding: 3rem 0;
    width: 100%;
    color: hsl(192, 100%, 9%, .5);
    text-shadow: 0 1px 1.5px hsl(192, 100%, 9%, .5);
}

.article-div{
    text-align: center;
    padding: 3rem;
}

.article-1-top,
.article-3-top,
.article-1-bottom,
.article-3-bottom{
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
}

.article-1-top,
.article-3-top{
    margin-bottom: -1.5rem;
    background-size: cover;
    background-position: bottom;
}

.article-1-top{
    background-image: url("./images/bg-section-top-mobile-1.svg");
}

.article-3-top{
    background-image: url("./images/bg-section-top-mobile-2.svg");
}

.article-3{
    background-color: hsl(207, 100%, 98%);
}

.article-1{
    width: 100%;
    height: 100%;
    background-color: hsl(207, 100%, 98%);
}

.article-image{
    width: 100%;
    height: 30rem;
    padding: 3rem;
}

.article-title,
.getstarted-intro h3{
    color: hsl(192, 100%, 9%);
    text-shadow: 0 1px 1.5px hsl(192, 100%, 9%, .5);
}

.article-title{
    font-size: 2rem;
}

.article-text{
    margin-top: 2rem;
    line-height: 2.1rem;
    font-size: 1.4rem;
    color: hsl(208, 11%, 55%); 
}

.article-1-bottom,
.article-3-bottom{
    margin-top: -1rem;
    background-repeat: no-repeat;
    background-position: top;
}

.article-1-bottom{
    background-image: url("./images/bg-section-bottom-mobile-1.svg");
    background-size: contain;
    
}

.article-3-bottom{
    background-image: url("./images/bg-section-bottom-mobile-2.svg");
    background-size: cover;
}

/*******Getstarted - section********/

.getstarted-div{
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 8rem;
}

.getstarted-intro{
    /* styles same as article (scroll up) */
    text-align: center;
    padding: 2rem;
}

.getstarted-intro h3{
    /* styles same as article-title (scroll up)*/
    font-weight: 900;
    font-size: 2.7rem;
    margin: 0 0 4rem 0;
    text-transform: capitalize;
    text-shadow: 0 1px 2px hsl(192, 100%, 9%, .5);
}

/******Footer - section*******/
.footer-top{
    width: 100%;
    height: 10rem;
    background-image: url("./images/bg-footer-top-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: -1rem;
}

.footer{
    width: 100%;
    background-color: hsl(192, 100%, 9%);
}

.newsletter-div{
   padding: 2rem;
}

.newsletter-title{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 3rem 0;
}

.newsletter-text{
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
}

.newsletter-input{
    width: 100%;
    padding: 1.4rem;
    margin-bottom: 1.7rem;
    border-radius: .6rem;
    outline: none;
    border: none;
}

.newsletter-btn-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.newsletter-btn{
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    padding: 1.5rem 3.5rem;
    border-radius: .5rem;
    color: hsl(193, 100%, 96%, .9);
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 .3rem .5rem rgb(0, 0, 0,.5);
    transition: all .3 ease-in;
}

.newsletter-btn:hover{
    background-color: hsl(300, 69%, 71%);
}

.footer-contact-info{
    padding: 2rem;
}

.footer-info-div{
    width: 100%;
    padding: 1rem;
    color: hsl(193, 100%, 96%, .9);
}

.contact-phone,
.contact-email{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.location-text,
.phone-number,
.email-address{
    width: 80%;
}

.footer-logo-div{
    margin: 3rem 0;
}

.footer-logo{
    width: 20rem;
    height: 33px;
    filter: brightness(0) invert(1);
}

.location-text{
    width: 100%;
    margin-bottom: 3rem;
}

.location-text,
.phone-number,
.email-address{
    color: hsl(193, 100%, 96%, .9);
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: .5px;
}


/*******Social Media Section*******/
.social-media-icons{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.social-icon{
    cursor: pointer;
    text-decoration: none;
}

.fa-facebook-f,
.fa-twitter{
    font-size: 2rem;
    border-radius: .5rem;
    color: hsl(192, 100%, 9%);
    background-color: hsl(0, 0%, 100%);
}

.fa-facebook-f{
    padding: 3px 6px;
}

.fa-twitter{
    padding: 3px;
}

.fa-instagram{
    font-size: 3rem;
    margin: 0 2rem;
    color: hsl(0, 0%, 100%);
}

.social-icon:hover{
    transition: .2s ease-in;
    color:hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}   

/*******For Attribution********/
.attribution{ 
    width: 100%; 
    margin-top: 2rem; 
    font-size: 1.2rem;
    text-align: center; 
    padding: 1rem .5rem;
    color: hsl(193, 100%, 96%);
    background-color: hsl(192, 97%, 13%);
}

.attribution a { 
    color: hsl(322, 100%, 66%); 
}

@media screen and (min-width: 768px){
    .hero-section{
        padding: 2rem 3rem 10rem;
    }

    .logo{
        height: 3rem;
    }

    .page-title{
        font-size: 4rem;
    }

    .tryit-btn{
        font-size: 2rem;
        font-weight: 700;
    }

    /*******ARTICLES SECTION*********/
   
    .about-page{
        margin: 5rem auto 5rem auto;
    }

    .page-info-title{ 
        font-size: 4rem;
    }

    .page-info{
        font-size: 3rem;
        line-height: 5rem;
        margin-bottom: 7rem;
    }

    .getstarted-btn{
        padding: 1.5rem 4.5rem;
        border-radius: 3rem;
        font-size: 2rem;
    }

    .hero-image-div{
        width: 80%;
        height: 35rem;
    }

    .hero-image{
        margin-top: 3rem;
    }

    /*********Rating-Section*********/
    .rating-section{
        width: 70%;
        margin: 0 auto;
        margin-top: 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .rate-1{
        margin-right: 8rem;
    }
    
    .rate-number{
        font-size: 5.5rem;
    }
    
    .rate-name{
        font-size: 2.2rem;
    }

    .rate-1-img,
    .rate-2-img{
        width: 3.5rem;
        height: 3.5rem;
    }
  
    .article-1-top,
    .article-3-top{
        height: 27rem;
    }
    
    .article-1-bottom,
    .article-3-bottom{
        height: 15rem;
    }

    /*********Article-Section*********/
    .article-section{
        margin-bottom: 23rem;
    }

    .article{
        width: 100%;
        margin: 0;
    }

    .article-image{
        height: 55rem;
    }

    .article-title{
        font-size: 4rem;
    }

    .article-text{
        padding: 0 10rem;
        line-height: 3.5rem;
        font-size: 2.5rem;
    }

    /*******Getstarted - section********/
    .getstarted-intro{
        padding: 0;
    }

    .getstarted-intro h3{
        font-size: 5rem;
        line-height: 7rem;
        margin-bottom: 8rem;
    }

    /********Footer-section********/
    .footer-top{
        width: 100%;
        height: 15rem;
    }
    
    .newsletter-title{
        font-size: 4rem;
        margin-top: 0;
    }
    
    .location-text,
    .phone-number,
    .email-address,
    .newsletter-text{
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .newsletter-text{
        margin-bottom: 3rem;
    }
    
    .newsletter-input{
        padding: 2rem;
        margin-bottom: 3rem;
    }
    
    .newsletter-btn{
        font-size: 2rem;
    }

    .contact-phone,
    .contact-email{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
}


@media screen and (min-width: 992px){ 
    .hero-section{ 
        padding: 2rem 3rem 10rem;
    }

    .tryit-btn{
        padding: 1rem 2.5rem; 
        border-radius: 20%;
    } 

    .getstarted-btn{
        padding: 1.2rem 2rem;
    }
    
    /*******ARTICLES SECTION*********/
    .about-and-hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .about-page{
        width: 80%;
    }

    .page-info-title{ 
        font-size: 4.5rem; 
    }

    .page-info{
        width: 75%;
        margin: 4rem auto 6rem;
        font-size: 2.5rem; 
        line-height: 3.5rem; 
    }

    .hero-image-div{
        width: 70%; 
        height: 60rem; 
    }

    .hero-image{
        margin-top: 5rem; 
    }

    /*********Rating-Section*********/
    .rating-section{
        width: 60%;
        margin-top: 5rem;
    }
    
    .rate-1,
    .rate-2{
        margin: 0;
    }
    
    .rate-number{
        font-size: 5.5rem;
    }
    
    .rate-name{
        font-size: 2.2rem;
    }

    .rate-1-img,
    .rate-2-img{
        width: 4rem;
        height: 4rem;
    }
  
    .article-1-top,
    .article-3-top,
    .article-1-bottom,
    .article-3-bottom,
    .footer-top{
        background-size: contain;
    }

    .article-1-top{
        background-image: url("./images/bg-section-top-desktop-1.svg");
    }

    .article-3-top{
        background-image: url("./images/bg-section-top-desktop-2.svg");
    }

    .article-1-bottom{
        background-image: url("./images/bg-section-bottom-desktop-1.svg");
    }

    .article-3-bottom{
        background-image: url("./images/bg-section-bottom-desktop-2.svg");
    }

    .footer-top{
        background-image: url("./images/bg-footer-top-desktop.svg");
    }


    /*********Article-Section*********/
    .article-section{
        margin-bottom: 5rem;
    }

    .article{
        width: 100%; 
        display: flex; 
        align-items: center; 
        justify-content: space-around;
    }

    .article-1,
    .article-3{
        flex-direction: row-reverse; 
    }

    .article-div{
        text-align: left; 
        width: 40%; 
    }

    .article-image{
        width: 45%; 
        height: 45rem; 
    }
    
    .article-text{
        padding: 0;
    }

    /********Footer-section********/
    .getstarted-intro{
        width: 50%; 
        padding: 4rem 0; 
    }

    .getstarted-intro h3{
        font-size: 2.7rem;
        margin: 0 0 5rem 0;
    }

    /* Footer-section */
    .footer-info-div{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        padding: 5rem 0;
    }

    .newsletter-div{
        width: 40%;
    }

    .footer-contact-info{
        width: 50%;
    }

    .footer-logo{
        width: 20rem;
        height: 30px;
    }

    .location-text,
    .phone-number,
    .email-address,
    .newsletter-text{
        font-size: 1.8rem;
        line-height: 3.5rem;
    }

    .location-text{
        width: 75%;
    }

    .newsletter-input-wrapper{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .newsletter-input{
        width: 65%;
        margin: 0;
    }

    .newsletter-btn-div{
        width: 30%;
        margin: 0;
        display: block;
        justify-content: flex-start;
    }
  
    .newsletter-btn{
        font-size: 1.8rem;
        padding: 1.5rem 2.5rem;
    }

    .newsletter-text{
        width: 80%;
    }

    .newsletter-title{
        font-size: 3rem;
    }

}


@media screen and (min-width: 1440px){ 
    .hero-section{
        height: 90vh;
        padding: 5rem 5rem 5rem;
    }
   
    .about-page{
        width: 40%; 
    }

    .page-info-title{ 
        line-height: 6rem;
        font-size: 5rem; 
    }

    .page-info{
        font-size: 3rem; 
        line-height: 5rem; 
    }

    .hero-image-div{
        width: 45%; 
        height: 60rem; 
    }

    /*********Article-Section*********/
    .article{
        width: 70%; 
        padding: 8rem; 
    }

    .article-div{ 
        width: 40%; 
    }

    .article-title{
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .article-text{
        line-height: 3.5rem;
    }

    .article-image{
        width: 50%; 
        height: 55rem; 
        margin: 0;
    }

    /********Footer-section********/
    .getstarted-intro{
        width: 40%; 
        padding: 5rem 0; 
    }

    .footer-info-div{
        padding: 0 5rem;
    }

}
